.cellWithImg {
  display: flex;
  align-items: center;
  .cellImg {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
}
.cellWithStatus {
  padding: 5px;
  border-radius: 5px;

  &.active {
    color: green;
    background-color: rgba(0, 128, 0, 0.05);
  }
  &.passive {
    color: crimson;
    background-color: rgba(255, 0, 0, 0.05);
  }
  &.pending {
    color: goldenrod;
    background-color: rgba(255, 217, 0, 0.05);
  }
}
.cellAction {
  display: flex;
  align-items: center;
  gap: 15px;

  .viewButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: darkblue;
    border: 1px dotted rgba(0, 0, 139, 0.596);
    user-select: none;
    cursor: pointer;
  }
  .deleteButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: crimson;
    user-select: none;
    border: 1px dotted rgba(220, 20, 60, 0.6);
    cursor: pointer;
  }
}
.dataTable {
  height: auto;
  padding: 10px;

  .dataTableTitle {
    font-size: 24px;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;

    .link {
      text-decoration: none;
      color: green;
      font-size: 16px;
      font-weight: 400;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid green;
      cursor: pointer;
    }
  }
}
